<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>酌酒花间</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/home/cb38bc6c52297be8f2f9.css?e1f414fcfff3365b19af" rel="stylesheet"></head>
<body>
  <div id="app" class="app"></div>
<script type="text/javascript" src="/static/home/6e405b90b3bcadf4fe0d.js?e1f414fcfff3365b19af"></script><script type="text/javascript" src="/static/home/cb38bc6c52297be8f2f9.js?e1f414fcfff3365b19af"></script></body>
</html>